<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Resume
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
        link(rel="stylesheet", href="./css/style.css")
    body
        #app
            .container
                .header
                    span {{infos.englishName}}
                    hr
                .content_area
                    .profile
                        .picture
                            img(:src="infos.profile", alt="profile")
                        .infos
                            b {{infos.chineseName}}, {{infos.englishName}}
                            p {{infos.city}}, {{infos.country}}
                            p {{infos.keynote}}
                            .contact_icon
                                img(:src="contactIcon.facebook", alt="Facebook_icon")
                                span : ruralboy0511@gmail.com
                            .contact_icon2
                                img(:src="contactIcon.github", alt="github-icon")
                                span
                                    a(href="https://github.com/MalygosDuke" target="_blank") : Github
                            .contact_icon3
                                img(:src="contactIcon.phone", alt="phone")
                                span : {{infos.phone}}
                    .skill_intro
                        h1 Skills
                        .skills
                            .tag
                                ul
                                    li HTML5
                                    li CSS3
                                    li Jquery
                                    li Javascript
                            .dev
                                ul
                                    li Vue.js
                            .tool
                                ul
                                    li github
                                    li Vue Devtools
                    .education
                        h1 Education
                        svg#pic3(viewbox="-5 -5 20 120")
                            circle(cx=5 cy=1 r=5)
                            circle(cx=5 cy=90 r=5)
                            polyline(points="5,6 5,85")
                        .master
                            h3 {{education.mastertime}}
                            p {{education.masterparagraph}}
                        .university
                            h3 {{education.universitytime}}
                            p {{education.universityparagraph}}
                    .experiance
                        h1 Experience
                        .job1
                            h3 {{experiance.first_title}}
                            ul
                                li(v-for="item in experiance.firstcontent") {{item}}
                    .demo
                        h1 Projects
                        .democard
                            img(:src="contactIcon.demoCard", alt="demo")
                            a(href="https://malygosduke.github.io/" target="_blank") Link
                        .content
                            h2 作品集
                            p 在學習的過程中,練習的作品,藉由練習更加清楚哪裡觀念不清楚並加以強化。
        script(src="/Complex/resume.js")
